#msg{
	border: 1px solid #c3c3c3;
	background-color: #f2f2f2;
	padding: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	display: none;
}
body{
	margin: 0;
	height: 100vh;
}
.div{
	width: 100%;
	height: 100%;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
th{
	text-transform: uppercase;
}
  
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}